@import "blocks/comment";

.padding_left_small {
  padding-left: 10px;
}

html {
  font-size: 14px;
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}
