@import "blocks/comment";

html {
  font-size: 14px;
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

.padding_left_small {
  padding-left: 10px;
}

.container-card_center {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
}
